img{
    max-width: 100%;
}
.pr-tooltip{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.pr-tooltip > .pr-tooltip--content{
    display: none;
}
.pr-tooltip:hover > .pr-tooltip--content{
    display: block;
    position: absolute;
    bottom: 100%;
    left: 100%;
    font-size: 12px;
}
.bg-gray{
    background: #f6f9fc;
}

main > .container{
    min-height: 100vh;
}

.table-hover tr{
    cursor: pointer;
}